/* bg video container */


section.bg-video-container {
    width: 100%;
    height: 100vh;
    position: relative;
    margin: var(--bg-video-container-margin-zero);
}


section.bg-video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
}


/* end home page background video */