/* start desktop footer */


@media screen and (min-width: 500px) {


    section.mobile-footer {
        display: none;
    }


    section.desktop-footer {
        width: 100%;
        margin-top: var(--desktop-footer-mt);
        padding-bottom: var(--desktop-footer-pb);
        font-size: var(--desktop-footer-links-font-size);
        font-family: var(--desktop-footer-font-family);
    }


    div#desktop-footer-instagram-id {
        flex-direction: column;
    }


    div#desktop-footer-instagram-id i {
        font-size: 32px;
    }


    div#desktop-footer-top {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    div#desktop-footer-top a {
        margin-left: 48px;
    }


    div#desktop-footer-main {
        width: 100%;
        margin-top: var(--desktop-footer-main-mt);
        background-image: url(../images-footer/order-bg-transparent.webp);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        position: relative;
    }


    div#desktop-footer-main img {
        width: 50%;
        position: absolute;
        right: 0;
        top: -40%;
    }


    div#desktop-footer-main-content {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-size: var(--desktop-footer-main-content-font-size);
    }


    div#desktop-footer-main-content a {
        margin-top: 32px;
        margin-bottom: 32px;
    }


    div#desktop-footer-btm {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        font-size: var(--desktop-footer-btm-font-size);
    }


    li {
        line-height: 2;
        list-style-type: none;
    }


}


/* end desktop footer */