/* start mobile gift card variables */


:root {
    --mobile-gift-card-content-mt: 48px;
}

:root {
    --mobile-gift-card-content-font-size: 1rem;
}

:root {
    --mobile-gift-card-content-font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --mobile-gift-card-body-container-font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root {
    --mobile-gift-card-body-container-input-p: 16px;
}

:root {
    --mobile-gift-card-body-container-input-border-radius: 6px;
}

:root {
    --mobile-gift-card-body-container-p-m: 64px;
}

:root {
    --mobile-gift-card-body-container-p-font-size: 0.8rem;
}

:root {
    --mobile-gift-card-body-container-button-p: 16px;
}

:root {
    --mobile-gift-card-body-container-button-border-radius: 32px;
}

:root {
    --mobile-gift-card-body-container-button-bg-color: black;
}

:root {
    --mobile-gift-card-body-container-button-color: white;
}

:root {
    --mobile-gift-card-body-container-button-font-size: 1.2rem;
}

:root {
    --mobile-gift-card-body-container-button-mb: 48px;
}


/* end mobile gift card variables */